@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body {
    background-color: #1E212B;

}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    letter-spacing: 0.2pt;
    font-family: 'Montserrat', sans-serif;
}

.coin-app {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 64px;
    color: #F5F3F5;
}

.coin-search {
    margin-bottom: 64px;
    float: left;
}

.coin-text {
    margin-bottom: 32px;
    float: left;
    text-align: center;
}

.coin-input {
    margin-left: 160px;
    padding-left: 16px;
    width: 300px;
    height: 50px;
    border-radius: 4px;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.5) 1px -1px 5px;
    background-image: linear-gradient(-225deg, #ac32e4, #7918f2 100%);
    color: #F5F3F5;
    margin-bottom: 10px;
}

.coin-input::placeholder {
    color: #F5F3F5;
}

::-webkit-scrollbar {
    width: 10px;
}
  
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.8);
    background-color: rgba(0, 0, 0, 0.5);
}

::-webkit-scrollbar-thumb {
    background-image: linear-gradient(-225deg, #ac32e4, #7918f2 100%);
    border-radius: 2px;
}